* {
	margin: 0;
	padding: 0;
}
body{
    background-image: url("../img/imagen.jpg");
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
section{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(400px, 1fr)
    );
    margin: 0 auto;
}
h1{ 
    color: aliceblue;
}
h2{
    color: #c7ce0e;
}
h3{
    color: black;
    background-color: #c7ce0e;
}
img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
nav{
    border-radius: 10px;
}
nav>div{
    background: rgb(239, 241, 242);
}
nav>div>span{
    color: rgb(4, 4, 144);
    font-size: 30px;
}
header>div>div{
    color: rgb(45, 214, 23);
    font-size: 60px;
    background-color: rgb(7, 7, 17);
    border-radius: 10px;
    margin: 5px;
}
header{
    margin: 5px;
}
li:hover{
    color: #f8f8ef8d;
    background-color: #c7ce0e;
    text-transform: uppercase;
    border-radius: 5px;
}

/* Estilo para el contenedor de la tabla */
.tabla-container {
    max-height: 500px; /* Altura máxima para mostrar la barra de desplazamiento */
    overflow: auto; /* Habilita la barra de desplazamiento */
}
table,
td,
th {
    border: 1px solid;
    padding: 20px;
}

table {
    text-align: right;
}

table, thead {
    position: sticky;
    top: 0;
}